// ***************************************************************
// árak
// ***************************************************************
.table-cont{
   height: auto;
   padding: 15px;
   display: flex;
   flex-direction: column;
}

.table-afa{
   text-align: center;
   margin-bottom: 0.2rem;
   line-height: 1;
   font-weight: bold;
}

// table
.tablepress thead th{
   background: $mainbg !important;
}

h2.tablepress-table-name{
}

.tablepress-table-description{
   color: $mainred !important;
   font-weight: bold;
   font-size: 14px;
   margin-bottom: 8px;
}
