@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext';

body{
   font-family: 'Open Sans', sans-serif;
   font-weight: normal;
   color: $textgray;
   font-size: 13px;
}

h1{
   color: $headlinetext;
   font-size: 32px;
   margin: 0;
}

h2{
   font-size: 18px;
}

h3{
   font-weight: bold;
   font-size: 16px;
   color: white;
   letter-spacing: 1px;
}
