.woo-container{
   margin-top: 20px;
}

.woo-contentbox{
   padding: 20px;
}


// breadcrump style
.woocommerce .woocommerce-breadcrumb{
   color: white;
   font-size: 14px;
   font-weight: bold;
   margin-top: 10px;
   a{
      color: $mainbg;
      font-weight: normal;
   }
   a:hover{
      color: $mainred;
      transition: all 0.2s;
   }
}


// single product style
.woo-single-container{
   padding-top: 20px;
}

.woocommerce div.product .product_title{
   color: black;
}

.product_meta{
   a{
      font-size: 14px;
      color: $darkgray;
   }
   a:hover{
      color: $mainred;
      transition: all 0.2s;
   }
}
