.woo-container{
   margin-top: 20px;
}

.woo-contentbox{
   padding-top: 20px;
}


// breadcrump style
.woocommerce .woocommerce-breadcrumb{
   color: white;
   font-size: 16px;
   a{
      color: $mainbg;
   }
   a:hover{
      color: $mainred;
      transition: all 0.2s;
   }
}
